# Yong Da Li
# 02 July 2022
# 
# restructuring the pay-elec testing repo for STM32 development
# just upload all files for now
# we can start having .gitignores and includes when we have a better workflow
# 
# I'm worried about accidentally not committing some file that's important for configuration
# 	ex. STM32 autogen code doesn't work properly and you get weird behaviour 